
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <h2> Contact</h2>
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% if site.email %}
        {% if site.email contains '@' %}
          {% assign newemail = site.email | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      {% endif %}

      {% if site.pgp %}
        <a href="{{ site.pgp }}" target="_blank">PGP Key</a>
        <p/>
      {% endif %}

      {% if site.author_blurb %}
      <div class="author row">
        <img class="col-xs-4 col-sm-3 col-md-2" src="{{site.baseurl}}{{site.author_blurb_image}}" alt="Me" />
        <p class="col-xs-8 col-sm-9 col-md-10">
          {{ site.author_blurb }}
        </p>
      </div>
      {% endif%}


    </div>
  </div>
</section>

<!-- Contact End -->
